In [2]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [10]:
dataset = pd.read_csv('//Users//muhbandtekamshuru//Desktop//Weather_NN_6x_1y.csv')

In [11]:
dataset.head()

,Formatted Date,Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Temperature (C)
0,2006-04-01 00:00:00.000 +0200,7.388889,0.89,14.1197,251,15.8263,1015.13,9.472222
1,2006-04-01 01:00:00.000 +0200,7.227778,0.86,14.2646,259,15.8263,1015.63,9.355556
2,2006-04-01 02:00:00.000 +0200,9.377778,0.89,3.9284,204,14.9569,1015.94,9.377778
3,2006-04-01 03:00:00.000 +0200,5.944444,0.83,14.1036,269,15.8263,1016.41,8.288889
4,2006-04-01 04:00:00.000 +0200,6.977778,0.83,11.0446,259,15.8263,1016.51,8.755556

In [12]:
dataset.shape

(96453, 8)

In [38]:
X = dataset.iloc[:,1:7].values
y = dataset.iloc[:,7].values

In [34]:
y=y.reshape(-1,1)
y

array([[  9.47222222],
       [  9.35555556],
       [  9.37777778],
       ...,
       [ 22.03888889],
       [ 21.52222222],
       [ 20.43888889]])

In [39]:
X

array([[  7.38888889e+00,   8.90000000e-01,   1.41197000e+01,
          2.51000000e+02,   1.58263000e+01,   1.01513000e+03],
       [  7.22777778e+00,   8.60000000e-01,   1.42646000e+01,
          2.59000000e+02,   1.58263000e+01,   1.01563000e+03],
       [  9.37777778e+00,   8.90000000e-01,   3.92840000e+00,
          2.04000000e+02,   1.49569000e+01,   1.01594000e+03],
       ...,
       [  2.20388889e+01,   5.60000000e-01,   8.98380000e+00,
          3.00000000e+01,   1.61000000e+01,   1.01566000e+03],
       [  2.15222222e+01,   6.00000000e-01,   1.05294000e+01,
          2.00000000e+01,   1.61000000e+01,   1.01595000e+03],
       [  2.04388889e+01,   6.10000000e-01,   5.87650000e+00,
          3.90000000e+01,   1.55204000e+01,   1.01616000e+03]])

In [40]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

/Users/muhbandtekamshuru/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)